# Database Variables
DB_HOST=investment-tracker-db.cr0cww8oy52m.ap-south-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=Mumbai#$11
DB_NAME=investment_tracker_db
DB_ROOT_PASSWORD=Mumbai#$11

# JWT & Security
JWT_SECRET=9ZcX2P8a+yH/4kLqS5fWjR7tB3nE1mYvX6cV0bN4xMo=
# Recommend generating a new key via: openssl rand -base64 32

# Spring Profiles
SPRING_PROFILES_ACTIVE=dev
